# CMake related
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt

build/

*.os
output/
builds/
latex/
!SC*
!Doxy*
!*.py
.*
!.gitignore
!README*
*.os
*.o
*.dylib
*.pyc
*~
moc_*.cpp
ui_*.h

